
@font-face {font-family: "iconfont";
  src: url('fonts/iconfont.eot?t=1545357474533'); /* IE9*/
  src: url('fonts/iconfont.eot?t=1545357474533#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/iconfont.ttf?t=1545357474533') format('woff'),
  url('fonts/iconfont.ttf?t=1545357474533') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('fonts/iconfont.svg?t=1545357474533#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .iconfont::before{
  color:#FFF;
} */

.icon-baocun:before { content: "\e601"; }

.icon-js:before { content: "\e602"; }

.icon-charulianjie:before { content: "\e603"; }

.icon-duigou:before { content: "\e604"; }

.icon-changjingguanli:before { content: "\e605"; }

.icon-bianji:before { content: "\e606"; }

.icon-fuzhi:before { content: "\e607"; }

.icon-charutupian:before { content: "\e608"; }

.icon-bianji1:before { content: "\e609"; }

.icon-dianzan:before { content: "\e60a"; }

.icon-quanxianshenpi:before { content: "\e60b"; }

.icon-guanbi:before { content: "\e60c"; }

.icon-jichuguanli:before { content: "\e60d"; }

.icon-liebiao:before { content: "\e60e"; }

.icon-xiayibu:before { content: "\e60f"; }

.icon-wentijieda:before { content: "\e610"; }

.icon-tubiao-zhuzhuangtu:before { content: "\e611"; }

.icon-gongnengdingyi:before { content: "\e612"; }

.icon-shebeikaifa:before { content: "\e613"; }

.icon-shoucang:before { content: "\e614"; }

.icon-peiwangyindao:before { content: "\e615"; }

.icon-shuaxin:before { content: "\e616"; }

.icon-tiaoshi:before { content: "\e617"; }

.icon-yunhang:before { content: "\e618"; }

.icon-xingzhuang-tupian:before { content: "\e619"; }

.icon-shoucang_shixin:before { content: "\e61a"; }

.icon-shangyibu:before { content: "\e61b"; }

.icon-hezuohuobanmiyueguanli:before { content: "\e61c"; }

.icon-shujukanban:before { content: "\e61d"; }

.icon-icon_zhanghao:before { content: "\e61e"; }

.icon-wxbzhuye:before { content: "\e61f"; }

.icon-yibiaopan:before { content: "\e620"; }

.icon-shiyongwendang:before { content: "\e621"; }

.icon-dingwei:before { content: "\e622"; }

.icon-jinggao:before { content: "\e623"; }

.icon-wenjianjia:before { content: "\e624"; }

.icon-xiaoxitongzhi:before { content: "\e625"; }

.icon-yingyongguanli:before { content: "\e626"; }

.icon-xiajiantou:before { content: "\e627"; }

.icon-shangjiantou:before { content: "\e628"; }

